{
  "presets": ["es2015", "react"],
  "plugins": [
    ["transform-es2015-classes", {
      "loose": true
    }],
     "transform-proto-to-assign",
     "transform-object-rest-spread",
     "transform-runtime",
     "transform-async-to-generator"
  ]
}